<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mad-libs</title>
      <link rel="stylesheet" href="/index.css">
      <link rel="stylesheet" href="/normalize.css">
      <link rel="stylesheet" href="/foundation.min.css">
  </head>

  <body>
    <h1>Launcher-Libs</h1>
    <h3>Choose your story.</h3>

    <p class="stories"></p>

    <script src="jquery-2.1.4.min.js"></script>
    <script src="app.js"></script>

  </body>
</html>
